.background-gradient {
  /* background-color: black; */
  background-color: #020a20;
  /* background-image: linear-gradient(to bottom right, #020a20, #390b22); */
}

.logo-text {
  font-family: "Futura";
  font-weight: bold;
  font-size: 20px;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #b02f4e, #6c1569);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
