.background-gradient {
  background-color: #020a20;
  /* background-image: linear-gradient(to bottom right, #020a20, #390b22); */
}

.logo-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ff355d;
  transition: color 100ms ease-in;
  /* background-color: #f3ec78;
  background-image: linear-gradient(45deg, #b02f4e, #6c1569);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; */
}

.logo-text:hover {
  color: #ff0b3c;
  transition: color 100ms ease-in;
}
